.container {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    background-color: #2f4255a1;
    top: 150px;
    width: 600px;
    padding: 40px 0px;
    max-width: 600px;
    border-radius: 5px;
}
.container:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: #2f4255e6;
}
span {
    color: white;
    font-size: 20px;
    text-transform: none;
}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1.7rem;
    line-height: inherit;
}
.pulse::before{
    animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}
i.left {
    float: left;
    margin-right: 0px;
}
#BillibHeader {
	height: 70px;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0;
    width: 100%;
    vertical-align: middle;
    padding-left: 75px;
    background: #2f4255;
    background-image: url(https://billibfinance.com/wp-content/uploads/2017/06/logo_billib.png);
    background-position: 1% 50%;
    background-repeat: no-repeat;
    background-size: 100px;
	
}
h2{
	height: 100%;
    border-bottom: 2px solid #00ffd1;
    padding: 15px 60px 0px 60px;
    font-size: 2.3rem;
    margin: 0 auto;
    width: max-content;
    font-weight: 300;
    color: white;
    text-shadow: 3px 3px 6px #000;
    position: relative;
	
}
body{
	background-image: url(https://billibfinance.com/wp-content/uploads/2017/09/fondo_registro.jpg);
	font-family: 'Lato', sans-serif !important;
}
#BillibFooter {
    height: 17px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8fe01+0,00ffd1+100 */
	background: rgb(216,254,1); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(216,254,1,1) 0%, rgba(0,255,209,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(216,254,1,1) 0%,rgba(0,255,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(216,254,1,1) 0%,rgba(0,255,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8fe01', endColorstr='#00ffd1',GradientType=1 ); /* IE6-9 */
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	align-items: middle;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
.btn{
    text-transform: capitalize;
    background-color: #00ffd1;
    color: #2f4255;
    border: none;
    font-weight: 600;
    margin-top: 5%;
    margin-left: 2%;
    text-transform: none;
}
.row .col.offset-s3 {
    margin-left: 15.6%;
}
.row .col.s6 {
    width: 70%;
}
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default){
	background-color: #ffffff42;
    border: none;
    border: 0px solid #9e9e9e;
    border-radius: 4px;
	margin: 5px 0px;
	color: white;
	height: 2.5rem;
	padding-left: 35px;
}
.row .col.offset-s2 {
    margin-left: 10%;
}
.row .col.s3 {
    width: 35%;
}
.input-field {
    margin-top: 0.5rem;
}
.row {
    margin-bottom: 0px;
}
img.responsive-img{
	width: 30%;
}
.input-field .prefix{
	color: #3d3d3d;
	margin: 5px 5px;
    font-size: 1.5rem;
    width: 2rem ;
}